.container{
    margin: 0;
    padding: 0;
    display: flex;
    margin-bottom: 0; 
}
.container ul {
    list-style-type: none;
    margin-top:90px;
    background-color: #d3d6da;
    border-radius: 0 50px 0 0;
    padding: 0;
    width: 270px;
    height: 660px;
    color: blueviolet;
    margin-left: -20px;
  }
  .header{
    margin-left: 40px;
    color: rgb(99, 00, 99);
    font-weight: bolder;
  }
  
  .container ul li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: rgb(99, 00, 99);
  
    font-size: 25px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container ul li a.active {
   
    color: white;
  }
  
  .container ul li a:hover:not(.active) {
    background-color: rgb(173, 3, 173);
    border-radius: 20px;
    color: white;
    font-weight: bold;
    
  }