.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.text{
    font-size: 35px;
    margin-top: 30px;
    width: 50%;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

.img {
    width: 500px;
    height: 500px;
    margin-top: 50px;
}
.decoration{
    color: rgb(99, 00, 99);
}
.hireme{
    color: rgb(99, 00, 99);
    text-decoration: none;
}