.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* margi */
    /* height: 1000px */

}
.text{
    font-size: 50px;
    width: 50%;
    color: rgb(99, 00, 99);
}

.img {
    width: 500px;
    height: 500px;
}
.decoration{
    color: rgb(99, 00, 99);
}